<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>		
		<title>PayMyBuddy</title>
		<link rel="stylesheet" th:href="@{/css/home.css}"/>
	</head>

	<body>	
			<header>
				<div id="headertext">
					<h1>PayMyBuddy</h1>
					<h2>Online money transfer</h2>
					<p>Bonjour, je suis Claudia, Développeur Java bientôt diplômé chez OpenClassrooms.</p>
				</div>
				<div class="CVpicture">
					<img src="cvpicture.jpg" title="My CV picture" alt="CV photo" id="photoCV"/>						
				</div>
			</header>
			<section>
				<div class="icon">
					<p><img src="gears.jpg" title="icon" alt="icon"/></p>
				</div>
				<div class="sectiontext">
					<h2>Mes <span style="background-color:RGB(102,255,255)">compétences</span></h2>
					<p>Je crée des applications Java pour le web.Voici quelques exemples d'applications sur lesquelles j'ai travaillé:
						<ul>
							<li>Un mini jeu en ligne</li>
							<li>Une application de réservation de tickets de cinéma en ligne</li>
							<li>Une application SaSS de gestion de projet pour les entreprises</li>
						</ul>
					</p>
					<p>Après avoir terminé mon diplôme de Développeur Web Junior chez OpenClassrooms, j'ai poursuivi en Développement d'Applications Java.</p>
					<p>Je suis passionnée par le développement back-end. Je travaille énormément avec des méthodes telles que le Domain-Driven Design, les concepts SOLIDs et la gestion de projet en agile.</p>	
				</div>			
				
			</section>

			<footer>
				<h1>Retrouvez-moi sur les réseaux</h1>
				
					<p><span style="background-color:RGB(102,255,255)">Une idée de projet?</span><span class="contactez"><a href="mailto:claudiagugiuman@yahoo.com">Contactez-moi!</a></span></p>
				
				<p>
                    	<a href="https://twitter.com/"><img src="twitter.png" alt="Twitter" /></a>
                    	<a href="https://github.com/"><img src="github.png" alt="GitHub"/></a>
                    	<a href="https://fr.linkedin.com/"><img src="linkedin.png" alt="Linkedin"/>  </a>                	
                    	
                    </p>
				
			</footer>
		
	</body>
</html>
